body {
    background-color: bisque;
}




.homehead {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    background-color: rgb(231, 153, 127);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.homeli {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}