* {
    box-sizing: border-box;
}

.main {
    background-color: rgb(251, 247, 244);
}

.homehead {
    background-color: rgb(231, 153, 127);
}

.homeli {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    
}

.title {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    margin-top: 50px;
}

.img {
    text-align: center;

}

.subs {
    font-size: 24px;
}

.desc {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}

.ing {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}

.lists {
    font-size: 18px;
    margin-left: 25px;
    margin-right: 60px;
}

li {
    margin-bottom: 5px;
    margin: 0 auto;
}